.DS_Store
.env
.terraform
/Users/brianellwood/football_stats/build_eks_cluster/.terraform
/Users/brianellwood/football_stats/learn-terraform-deploy-nginx-kubernetes/.terraform
mysql-datadir
password.txt
*.bck

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
*.terraform*
*terraform.tfstate.backup*
*terraform.tfstate*
